:root {
  --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}

html {
  scroll-behavior: smooth;
}
header{
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  list-style-type: none;
  background-color: #F1F1F1;
  font-family: 'Rubik', sans-serif !important;

}
ul{
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  /* border-radius: 20px; */
  list-style-type: none;
  font-family: 'Rubik', sans-serif;
  background-color: #F1F1F1;
}
#logo{
  width: 120px;
  height: 77px;
  padding-right: 20px;
}
ul.navbar>li,ul.navbar>li>a{
  padding: 10px;
  margin: 5px;
  text-decoration: none !important;
  color: black;
}

.main{
  display: flex;
  justify-content: space-around;
  width: 99%;
  height: 100vh;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: -1;
}

#master{
  margin-top: 6%;
  width: 650px;
  height: 650px;
}

.main-text{
  margin-left: 5%;
  margin-top: 10%;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.master-name{
  font-family: 'Rubik', sans-serif;
  font-size: 5.5em;
  color: #B20600;
}

.solgen{
  margin-left: -5%;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  font-size: 2.5em;
}

.title{
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 4.5em;
}

.dropdown-span{
  background-color: transparent;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 20px !important;
  margin-top: 5px !important;
  font-size: 15px !important;
  font-family: 'Rubik', sans-serif !important;
  font-weight: light !important;
  color: black !important;
  padding:0;
}
.dropdown-span::after{
  display: inline-block;
  width: 30px;
  height: 20px;
  content: "";
  background: url(./components/photos/arrow-down.png);
  background-size: 32px 32px;
  background-repeat: no-repeat;
  transition: background .2s;
  transition-timing-function: ease-in;
}
.dropdown-span:hover{
  background-color: #ffd5d541  !important;
}

.dropdown {
  position: absolute;
  padding: 10px 14px;
  margin-top: 8px;
  z-index: 99;  
  max-width: 120px;
  text-align: center;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(255, 255, 255, 0.14);
}

.dropdown-menu-info{
  display:flex;
  z-index: 1;
  justify-content: space-between;
}
.dropdown-menu-info>img{
  width: 40px;
  height: 40px;
  font-family: 'Roboto Flex', sans-serif;
  padding: 4px 10px 0 0;
  margin-bottom: -5px;
}
.dropdownitem-user-name{
  font-size: 15px;
}
button{
  background-color: #B20600; /* Green */
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  
  font-size: 16px;
  font-family: 'Roboto Flex', sans-serif;
  cursor:pointer;
  border-radius: 16px;
}

/* lectures section */
.lectures{
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.branch{
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.branch-name{
  margin: 0px;
  font-size: 35px;
  text-decoration: none;
  color: black;
  padding: 10px;
  border-bottom: 2.5px solid black !important;
  cursor: pointer;
}

.branches-img{
  width: 100%;
  height: 82%;
  padding: 5px;
  object-fit:contain;
  margin: auto;
  display: block;
  cursor: pointer;
}

.branches-img:hover{
  filter: blur(3px);
  transition: all .5s;
}

/* branch page */
.lesson-title{
  width: 80%;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
  background-color: #FF4A4A;
}

.lesson{
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.lecture-name{
  margin: 0;
}
.lecture-name.open{
  background-color: #FF4A4A;
}

.arrow-div{
  position: absolute;
  width: 35px;
  height: 35px;
}

.lesson-parts{
  width: 70%;
  margin: auto;
  padding: 20px;
  flex-direction: column;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #FFD5D5;
  animation: fadeInAnimation ease .2s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  
}
.lesson-parts>li{
  border: .5px solid black;
  padding: 2.5%;
}

.lesson-part{
  display: flex;
  background-color: transparent;
}

.lesson-btn{
  background-color: transparent;
  
  color: black;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 0;
}
.input-field {
  font-size: 15px;
  
  font-family: inherit;
  padding: 0.25em 0.5em;
  margin-right: 10px;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
}

.play-btn{
  text-decoration: none;
  padding-right: 20px;
}
.play-btn::before{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: -4px;
  content: "";
  background: url('https://cdn-icons-png.flaticon.com/512/0/375.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

/* Video Player Page */
.video-player{
  position: relative;
  background-color: #E5E5E5;
  margin: 50px auto;
  border-top-right-radius:20px;
  border-top-left-radius: 20px;
  width:850px;
  height:500px;
}

.player{
  margin: auto;
  padding-top:30px;
  width:800px;
  height:450px;
}

.attachments{
  background-color: #E5E5E5;
  font-size: 10px;
  margin: 45px auto;
  border-bottom-right-radius:20px;
  border-bottom-left-radius: 20px;
}

.sub-attachments{
  font-size: 30px;
  font-family: 'Rubik', sans-serif ;
  padding: 10px;
}

/* PayingSystem Page */

.radio-group{
  margin: 5px auto;
  width: fit-content;
  background-color: #FFFFFF;
  border-radius:20px;
  padding: 20px;
  border: .5px solid black;
}

.paragraph{
  padding: 10px;
  display: flex;
  margin: auto;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  text-align:right ;
  
}
.paying-system-paragraph{
  border-radius:50px;
  position: relative;
  background-color: #E5E5E5;
  margin: 10px auto;
  padding: 10px;
  width: fit-content;
}
.eng{
  font-family: 'Roboto Flex', sans-serif;
  text-align: left;
  padding: 5px;
  margin: 0;
}

.paying-system{
  position: relative;
  margin: auto;
  width: fit-content;
  padding: 20px 60px;
  background-color: #E5E5E5;
  border-radius:50px;
}