html {
  scroll-behavior: smooth;
}
header, ul{
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  list-style-type: none;
  background-color: #F1F1F1;
}
#logo{
  width: 120px;
  height: 77px;
  padding-right: 10px;
}
ul.navbar>li,ul.navbar>li>a{
  padding: 10px;
  margin: 5px;
  text-decoration: none !important;
  color: black;
}

.main{
  display: flex;
  justify-content: space-around;
  width: 99%;
  height: 100vh;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: -1;
}

#master{
  margin-top: 6%;
  width: 650px;
  height: 650px;
}

.main-text{
  margin-left: 5%;
  margin-top: 10%;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.master-name{
  font-family: 'Rubik', sans-serif;
  font-size: 5.5em;
  color: #B20600;
}

.solgen{
  margin-left: -5%;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  font-size: 2.5em;
}

.title{
  font-family: 'Rubik', sans-serif;
  font-size: 4.5em;
}

.dropdown-span{
  background-color: transparent;
  color: black;
  padding:0;
}
.true::before{
  display: inline-block;
  width: 30px;
  height: 20px;
  content: "";
  background: url(./components/photos/arrow-down.png);
  background-size: 32px 32px;
  background-repeat: no-repeat;
  transition: background .2s;
  transition-timing-function: ease-in;
}
.false::before{
  display: inline-block;
  width: 30px;
  height: 20px;
  content: "";
  background: url(./components/photos/arrow-up.png);
  background-size: 32px 32px;
  background-repeat: no-repeat;
  transition: background .2s;
  transition-timing-function: ease-in;
}


.dropdown {
  position: absolute;
  padding: 10px 14px;
  margin-top: 8px;
  z-index: 99;  
  max-width: 120px;
  text-align: center;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(255, 255, 255, 0.14);
}

.dropdown-menu-info{
  display:flex;
  z-index: 1;
  justify-content: space-between;
}
.dropdown-menu-info>img{
  width: 40px;
  height: 40px;
  font-family: 'Roboto Flex', sans-serif;
  padding: 4px 10px 0 0;
  margin-bottom: -10px;
}
.dropdownitem-user-name{
  font-size: 10px;
}
button{
  background-color: #B20600; /* Green */
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  
  font-size: 16px;
  font-family: 'Roboto Flex', sans-serif;
  cursor:pointer;
  border-radius: 16px;
}


.lectures{
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}
.branches-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ffffff;
}

.branch{
  text-align: right;
  width: 350px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0px;
  margin: 10px;
}

.branch-name{
  margin: 0px;
  font-size: 40px;
  border-bottom: 2.5px solid black;
}

.branches-img{
  width: 100%;
  height: 80%;
  object-fit:cover;
  margin: auto;
  display: block;
}

.branches-img:hover{
  filter: blur(3px);
  transition: all .5s;
}