header, ul{
  position: sticky;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  list-style-type: none;
  background-color: #F1F1F1;
}

#logo{
  width: 120px;
  height: 100px;
  padding-right: 10px;
}
ul.navbar>li{
  padding: 10px;
  margin: 5px;
}
