:root {
  --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
  --b: #262626;
	--w: #dcdcd2;
	--s: 2s; /* change speed */
}
li{
  list-style: none;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  width: 100vw;
  margin: 0;
}
header{
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background-color:rgba(0, 0, 0, 0.068);
  backdrop-filter:blur(40px);
  font-family: 'Rubik', sans-serif !important;

}
ul{
  position:relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'Rubik', sans-serif;
}
#logo{
  width: 10%;
  height: 20%;
  padding-right: 20px;
}
ul.nav-bar>li,ul.nav-bar>li>a{
  padding: 10px;
  margin: 5px;
  text-decoration: none !important;
  color: black;
}

.main{
  display: flex;
  justify-content: space-around;
  width: 99%;
  height: 100vh;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: -1;
}

#master{
  margin-top: 6%;
  width:40vw;
  height: 70vh;
}

.main-text{
  margin-left: 5%;
  margin-top: 10%;
  overflow:visible !important;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.master-name{
  font-family: 'Cairo Play', sans-serif;
  font-size: 5.5em;
  color: #B20600;
}

.solgen{
  margin-left: -5%;
  font-family: 'Cairo Play', sans-serif;
  text-align: center;
  font-size: 2.5em;
}

.title{
  font-family: 'Cairo Play', sans-serif;
  font-weight: bold;
  font-size: 3.5em;
}

.dropdown-span{
  background-color: transparent;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 20px !important;
  margin-top: 5px !important;
  font-size: 15px !important;
  font-family: 'Rubik', sans-serif !important;
  font-weight: light !important;
  color: black !important;
  padding:0;
}
.dropdown-span::after{
  display: inline-block;
  width: 30px;
  height: 20px;
  content: "";
  background: url(./components/photos/arrow-down.png);
  background-size: 32px 32px;
  background-repeat: no-repeat;
  transition: background .2s;
  transition-timing-function: ease-in;
}
.dropdown-span:hover{
  background-color: #ffd5d541  !important;
}

.dropdown {
  position: absolute;
  padding: 10px 14px;
  margin-top: 8px;
  z-index: 99;  
  max-width: 120px;
  text-align: center;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(255, 255, 255, 0.14);
}

.dropdown-menu-info{
  display:flex;
  z-index: 1;
  justify-content: space-between;
}
.dropdown-menu-info>img{
  width: 40px;
  height: 40px;
  font-family: 'Roboto Flex', sans-serif;
  padding: 4px 10px 0 0;
  margin-bottom: -5px;
}
.dropdownitem-user-name{
  font-size: 15px;
}
button:not(.editable){
  background-color: #B20600; /* Green */
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Roboto Flex', sans-serif;
  cursor:pointer;
  border-radius: 16px;
}
/* Footer */
footer{
  height: 21vh !important;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
#Flag{
  width: 13vw;
  height: calc((8/16)*(14vw));
  max-height: inherit;
  align-self: center;
}
.social-media-icon{
  width: 5vh;
  height: 5vh;
  cursor: pointer;
}
ul.social-media-icons{
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.social-media-icons>li>a{
  all: unset !important;
  display: flex !important;
  flex-wrap: wrap !important;
}
.social-media-icon-title{
  margin-top: 5px;
  padding: 0;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 25px;
}
.social-media-icon-title:hover{
  color: #a5a4a4;
}

/* Mobile Media query */
@media only screen and (max-width: 720px)  {
  /* Main page */
  header{
    position: fixed;
    top:0;
    z-index: 999;
    width: 100%;
  }
  .nav-bar{
    font-size: 10px !important;
    padding: 5px;
  }
  .dropdown-span{
    font-size: 12px !important;
    padding: 5px !important;
  }
  button{
    font-size: 8px !important;
    padding: 8px 9px;
  }
  .css-vvnn2g-MuiModal-root-MuiPopover-root-MuiMenu-root .css-1x7jfmm-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
    width: 150px !important;
  }
  .dropdown-menu-info{
    align-items: flex-start;
    flex-direction: column;
  }
  .dropdownitem-user-name{
    font-size: 11px !important;
    font-weight: bold;
    overflow:visible;
  }
  .dropdonwitem{
    font-size: 14px !important;
  }
  #logo{
    width: 18%;
  }
  .main{
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    margin: 0 !important;
  }
  #master{
    margin-top: 60px;
    width:72vw !important;
    height: 62vh !important;

  }
  .main-text{
    margin: 0 !important;
  }
  .master-name{
    font-size: 3.5em;
    text-align: center;
    
  }
  .solgen{
    font-size: 2em;
    margin: 0 !important;
  }
  .title{
    margin: 0;
    margin-bottom: 18px !important;
    font-size: 3.5em;
  }
  .branch-name{
    font-size: 1em !important;
    display: inline-block;
  }
  .branches-img{
    width: 90% !important;
    height: 70%;
    margin-right: 10px !important;
  }
  .css-x3vexg-MuiGrid2-root{
    /* --Grid-columns: 7; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  /* Footer */
  ul.social-media-icons{
    padding-right: 2%;
  }
  .social-media-icon{
    width: 6vh;
    height: 6vh;
  }
  .social-media-icon-title{
    font-size: 13px;
  }
  #Flag{
    width: 37vw;
    height:calc( (9/16)*(39vw));
  }
  #monochrome{
    width: 44vw;
    height:calc( (9/16)*(40vw));
    align-self: center;
  }
  /* branch page */
  .lessons-box{
    margin-top: 42px;
    font-size: 10px;
  }
  .lecture-name{
    font-size: 20px;
  }
  .arrow-div{
    width: 25px !important;
    height: 25px !important;
  }
  .lesson{
    font-size: 10px !important;
  }
  .input-field{
    font-size: 10px !important;
    width: 50px;
  }
  .lesson-btn-wrong{
    font-size: 10px !important;
    margin: 0 !important;
  }
  /* Video Player Page */
  .player{
    height: 57vw !important;
  }
  .volume-range,.speed-range{
    width: 20px;
    height: 60px;
    writing-mode: bt-lr
  }
  .volume,.speed{
    display: flex;
  }
  .volume-value,.speed-value{
    font-size: 12px;
  }
  div#player>div>iframe{
    height: 47vw !important;
  }
  .fullScreen{
    margin-top: 20px !important;
  }
  .slider.fullScreen-margin{
    margin-top: 0 !important;
  }
  .fullScreen-margin{
    margin-top: 68% !important;
  }

  .sub-attachments{
    font-size: 20px !important;
  }

  .paying-system{
    margin-top: 16% !important;
    padding: 4px !important;
    font-size: 45px !important;
  }
  .eng{
    font-size: 15px !important;
  }
}
/* lectures section */
.lectures{
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Cairo Play', sans-serif;
}

.branch{
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}
.Algebra-branch{
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.branch-name{
  /* margin: 0px; */
  font-size: 25px;
  text-decoration: none;
  color: black;
  padding: 20px 10px;
  /* border-bottom: 2.5px solid black !important; */
  cursor: pointer;
}

.branches-img{
  width: 100%;
  height: 87%;
  padding: 5px;
  object-fit:contain;
  background-position: center;
  margin: auto;
  display: block;
  cursor: pointer;
  border-top: 2.5px solid black !important;
}
.branches-img:hover{
  filter: blur(3px);
  transition: all .5s;
}

/* branch page */
.lesson-title{
  width: 80%;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
  background-color: #FF4A4A;
}

.lesson{
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.lecture-name{
  margin: 0;
}
.lecture-name.open{
  background-color: #FF4A4A;
}

.arrow-div{
  position: absolute;
  width: 35px;
  height: 35px;
}

.lesson-parts{
  width: 70%;
  margin: auto;
  padding: 20px;

  flex-direction: column;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #FFD5D5;
  animation: fadeInAnimation ease .2s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  
}
.lesson-parts>li{
  border: .5px solid black;
  padding: 2.5%;
}

.lesson-part{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  font-family: 'Cairo Play', sans-serif !important; 
  font-size: 20px;
  font-weight: bold;
}

.lesson-btn{
  background-color: transparent;
  
  color: black;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 0;
}
.input-field {
  font-size: 15px;
  
  font-family: inherit;
  padding: 0.25em 0.5em;
  margin-right: 10px;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
}

.play-btn{
  text-decoration: none;
  padding-right: 20px;
}
.play-btn::before{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: -4px;
  content: "";
  background: url('https://cdn-icons-png.flaticon.com/512/0/375.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

/* Video Player Page */
.video-player{
  position: relative;
  margin: 16% auto;
}

.player{
  background-color: #E5E5E5;
  padding:30px 10px;
  margin: auto !important;
  width:78vw;
  height:57vh;
  border-top-right-radius:20px;
  border-top-left-radius: 20px;
}

.hidden-div{
  position: absolute;
  width:78vw;
  height:51vh;
  opacity: 0;
  z-index: 99;
}

div#player>div>iframe{
  width: 78vw;
  height:51vh;
}

.video-slider{
  width: 77vw !important;
}

.attachments{
  background-color: #E5E5E5;
  font-size: 10px;
  width:78vw;
  padding:10px 10px;
  margin: 50px auto !important;
  border-bottom-right-radius:20px;
  border-bottom-left-radius: 20px;
}

.sub-attachments{
  font-size: 30px;
  font-family: 'Rubik', sans-serif ;
  padding: 10px;
}

.fullScreen {
  width: 96vw !important;
  height: 48vw !important;
  position: absolute !important;
  /* top: 10px!important; */
  /* left: 0 !important; */
  margin: 0;
  margin-left: -10% !important;
}

.fullScreen-margin{
  margin-top: 62% ;
}
.slider.fullScreen-margin{
  margin-top: 0;
}
/* PayingSystem Page */

.radio-group{
  margin: 5px auto;
  width: fit-content;
  background-color: #FFFFFF;
  border-radius:20px;
  padding: 20px;
  border: .5px solid black;
}

.paragraph{
  padding: 5px;
  display: flex;
  margin: auto;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
  text-overflow:ellipsis !important;
  text-align:right ;
  
}
.paying-system-paragraph{
  border-radius:50px;
  position: relative;
  background-color: #E5E5E5;
  margin: 10px auto;
  padding: 10px;
  width: 65%;
}
.paragraph-text{
  overflow: hidden;
  white-space:wrap;
}
.eng{
  font-family: 'Roboto Flex', sans-serif;
  font-size: 30px;
  text-align: left;
  padding: 5px;
  margin: 0;
  white-space:wrap;
}

.paying-system{
  position: relative;
  margin: auto;
  width: fit-content;
  padding: 20px 60px;
  background-color: #E5E5E5;
  border-radius:50px;
}

.open{
  display: block !important;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* Admin Dashbord */

.not-checked{
  opacity: .3!important;
}
.hidden{
  opacity: 0 !important;
}
.editable:not(input, button){
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}
.flex-col{
  flex-direction: column !important;
  align-items:flex-start !important;
}
td>h5{
  text-overflow:ellipsis;
  text-wrap:balance;
}
#edit-btn{
  width: 27px;
  height: 27px;
  background-color: transparent !important;
  background-image: url('C:/Users/abosa/Desktop/Hany-AbdulGawed-platform/src/components/photos/edit-btn.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
input.editable{
  border-radius: 10px;
  border: solid 1px;
  font-size: small;
  font-weight: bold;
  padding: 3px;
  margin-right: 7px;
}
button.editable{
  border-radius: 10px;
  font-size: small;
  font-weight: bold;
  margin-right: 7px;
}

/* loading screen */

.center {
  position: relative;
  height: 50vh;
  top:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, rgb(49, 38, 56), #492d2d);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
